.p-news {
    .c-header {
        position: relative;

        .c-header__top {
            display: none;
        }
    }

    .c-pagetitle {
        background-color: #edf9f8;
        padding-bottom: 8.6%;

        .c-pagetitle__main {
            top: 50%;
            left: 50%;
        }

        .c-pagetitle__heading {
            color: $brand-color;
            font-size: 4rem;
            line-height: 1.875;
        }

        .c-pagetitle__sub {
            color: #000;
        }
    }
}
