/*------------------------------------------------------------
Css of news page
------------------------------------------------------------*/
.p-news,
.p-404 {
    .c-header {
        position: relative;

        .c-header__main {
            margin: 0 auto;
        }

        .c-header__top {
            display: none;
        }

        .c-header__content {
            margin: 0 auto;
            padding: 0;
            @include tab {
                padding-left: 8px;
            }
        }

        .c-header__logo {
            padding: 0;
            width: 17.2%;
            @include tab {
                width: 26%;
            }
            @include sp {
                width: 55%;
            }
        }

        .c-header__navtext {
            padding: 2em 1.25em;
        }

        .c-header__item {
            &:last-child {
                width: 21%;
                @include tab {
                    width: 100%;
                }
            }
        }
    }

    .c-pagetitle {
        background-color: #edf9f8;
        padding-bottom: 8.6%;
        min-height: 166px;

        .c-pagetitle__main {
            top: 47%;
            left: 50%;
        }

        .c-pagetitle__heading {
            color: $brand-color;
            font-size: 4rem;
            line-height: 1.875;
            letter-spacing: -0.5px;
        }

        .c-pagetitle__sub {
            color: #000;
        }
    }

    .c-back {
        transform: translateX(-2px);
        margin: 30px auto 0;
    }
}
