/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-pagetop {
    margin: 60px auto 0;
    padding: 50px 0 30px;
    width: 70px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        background-image: url("./assets/img/common/pagetop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 30px;
        height: 20px;
    }
}
