/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-back {
    display: block;
    max-width: 410px;
    width: 100%;
    margin: 16.5% auto 0;
    background-color: $brand-color;
    padding: 17px 20px;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.6;
    color: #fff;
    z-index: 1;
    box-shadow: 4px 4px #000;
    transition: 0.3s all;
    position: relative;
    text-align: center;
    cursor: pointer;
    @include sp {
        width: inherit;
        padding: 17px 10px;
        font-size: 1.4rem;
    }

    &:hover {
        opacity: 1;
        box-shadow: none;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("./assets/img/common/arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%) rotate(180deg);
        transition: 0.3s all;
    }
}

.c-submit {
    cursor: pointer;
    display: block;
    max-width: 450px;
    width: 100%;
    margin: 50px auto 0;
    background-color: $brand-color;
    padding: 17px 20px;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    line-height: 1.6;
    color: #fff;
    z-index: 1;
    box-shadow: 4px 4px #000;
    transition: 0.3s all;
    position: relative;
    left: -2px;
    text-align: center;
    @include tab {
        letter-spacing: 0;
        left: 0;
    }
    @include sp {
        padding: 17px 10px;
        font-size: 1.4rem;
    }

    &:hover {
        opacity: 1;
        box-shadow: none;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("./assets/img/common/arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        transition: 0.3s all;
    }
}

.c-pagetop {
    margin: 60px auto 0;
    padding: 50px 0 30px;
    width: 70px;
    cursor: pointer;

    @include tab {
        margin: 0 auto;
        padding: 30px 0;
    }

    &:hover {
        opacity: 0.7;
    }

    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        background-image: url("./assets/img/common/pagetop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 30px;
        height: 20px;

        @include sp {
            background-image: url("./assets/img/common/pagetop_sp.svg");
            width: 35px;
        }
    }
}
