.c-post {
    padding: 35px 0 25px;

    .c-post__top {
        display: flex;

        @include sp {
            flex-direction: column;
        }
    }

    .c-post__featureimg {
        width: 50%;

        @include sp {
            width: 100%;
            order: 2;
        }
    }

    .c-post__box {
        width: 50%;
        background-color: #edf9f8;
        padding-left: 40px;
        position: relative;

        @include sp {
            width: 100%;
            min-height: 300px;
            order: 1;
            padding: 20px;
        }
    }

    .c-post__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .c-post__type {
        margin-bottom: 20px;
        @include tab {
            margin-bottom: 10px;
        }
    }

    .c-post__date {
        display: inline-block;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.8;
        color: #000;
        margin-right: 16px;
        @include tab {
            font-size: 1.2rem;
        }
    }

    .c-post__cat {
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 2;
        color: #fff;
        background-color: $brand-color;
        display: inline-block;
        width: max-content;
        padding: 0 8px 0 10px;
        @include tab {
            font-size: 1.3rem;
        }
    }

    .c-post__title {
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: 0;
        line-height: 1.5;
        color: #000;
        margin-bottom: 14px;
        @include tab {
            font-size: 2.4rem;
        }
    }

    .c-post__info {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0;
        color: #000;
        line-height: 2;
        @include tab {
            font-size: 1.3rem;
        }
    }

    .c-post__name {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5;
        @include tab {
            font-size: 2rem;
        }
        @include sp {
            font-size: 1.8rem;
        }
    }

    .c-post__content {
        padding: 90px 0 85px;
        @include sp {
            padding: 50px 0 45px;
        }
    }

    .c-post__heading {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2;
        letter-spacing: 0;
        color: $brand-color;
        margin-bottom: 5px;
        @include sp {
            font-size: 1.8rem;
        }
    }     

    .c-post__text {
        color: #000;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 2;
        margin-bottom: 37px;
        @include sp {
            font-size: 1.4rem;
        }
    }

    .c-post__img {
        margin: 48px auto 44px;
    }

    .c-post__quote {
        text-align: center;

        &::before {
            content: "";
            display: block;
            width: 100%;
            max-width: 780px;
            margin: 0 auto 22px;
            height: 25px;
            background-image: url("./assets/img/interview/quote.png");
            background-size: cover;
            background-repeat: no-repeat;
            @include sp {
                max-width: 600px;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            max-width: 780px;
            margin: 32px auto 0;
            height: 25px;
            background-image: url("./assets/img/interview/quote.png");
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(-180deg);
            @include sp {
                max-width: 600px;
            }
        }
    }

    .c-post__qtitle {
        color: #020000;
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0;
        line-height: 1.67;
        margin-bottom: 24px;
    }

    .c-post__listsocial {
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column;
        }
    }

    .c-post__itemsocial {
        width: calc((100% - 60px)/3);
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0.1em;
        line-height: 1.67;
        color: #fff;
        border-radius: 30px;
        padding: 15px;
        @include sp {
            width: 100%;
            max-width: 240px;
            margin: 10px auto;
            padding: 10px;
        }
    }
}
