.c-news {
    margin: 45px auto 75px;
    @include sp {
        margin: 45px auto 55px;
    }

    .c-news__item {
        display: flex;
        justify-content: space-between;
        padding: 23px 0 22px;
        border-bottom: 1px solid #ccc;
        @include sp {
            flex-direction: column;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .c-news__date {
        color: #781111;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.4;
        width: 10%;
        @include sp {
            margin-bottom: 10px;
            font-size: 1.3rem;
            width: 100%;
        }
    }

    .c-news__ptitle {
        color: #000;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 1.25;
        width: 86.4%;
        @include sp {
            font-size: 1.5rem;
            width: 100%;
        }
    }
}
