///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
.u-bold {
    font-weight: 700;
}

.u-kozuka {
    font-family: $font-kozuka;
}

.u-center {
    text-align: center;
}

.u-textedit {
    letter-spacing: 0.3px;
}

.u-letter0 {
    letter-spacing: 0 !important;
}
//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-blue {
    color: $brand-color;
}

.u-red {
    color: #fd0000;
}

.u-fb {
    background-color: #3b5998;
}

.u-twitter {
    background-color: #00a9e8;
}

.u-line {
    background-color: #00df1f;
}
//------------------------------------------------------------
// display
//------------------------------------------------------------
.u-notpc {
    display: none;
    @include sp {
        display: block;
    }
}

.u-onlypc {
    @include sp {
        display: none;
    }
}
