$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-noto: "Noto Sans JP", sans-serif;
$font-itc: "ITC Franklin Gothic", sans-serif;

//color common
$brand-color: #00ada0 !default;
$brand-sub-color: #ef3f82 !default;
