/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    .c-breadcrumb__list {
        padding: 25px 0 33px;
        border-bottom: 1px solid #ccc;
        @include sp {
            padding: 25px 0;
        }
    }

    .c-breadcrumb__item {
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.2;
        color: $brand-color;
        text-decoration: underline;
        text-underline-offset: 7px;
        @include sp {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        &:first-child {
            &::before {
                content: "";
                margin: 0;
            }
        }

        &:last-child {
            color: #000;
            text-decoration: none;
            @include sp {
                margin-bottom: 0;
            }
        }

        &::before {
            content: ">";
            margin: 0 15px;
            color: #000;
            display: inline-block;
            @include sp {
                margin: 0 10px;
            }
        }
    }
}
