/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    .c-breadcrumb__list {
        padding: 25px 0 33px;
        border-bottom: 1px solid #ccc;
    }

    .c-breadcrumb__item {
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: 0;
        color: #000;

        &::before {
            content: ">";
            margin: 0 15px;
        }
    }

    .c-breadcrumb__home {
        color: $brand-color;
        text-decoration: underline;
        text-underline-offset: 7px;

        &::before {
            content: "";
            margin: 0;
        }
    }
}
