/* Header
------------------------------------------------------------*/
.c-header {
    position: absolute;
    z-index: 99;
    width: 100%;

    &__main {
        margin: 16px auto 0;
    }

    &__top {
        text-align: right;

        &::after {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: url("/images/common/arrow.svg") no-repeat center/cover;
            margin-left: 12px;
        }
    }

    &__toptext {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.4;
        letter-spacing: 0;
        color: #fefefe;
        vertical-align: text-top;
    }

    &__content {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 0 0 0 20px;
        margin: 12px auto 0;

        &.is-open {
            position: fixed;
            z-index: 100;
            left: 20px;
            right: 20px;
        }
    }

    &__logo {
        padding: 20px 0;
        width: 26%;

        a {
            display: block;
            width: 100%;
            height: 100%;
            transition: 0.3s all;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__nav {
        width: 65%;
        margin-left: auto;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        &:last-child {
            width: 23.2%;
            background-color: $brand-color;

            a {
                color: #fff;
            }
        }

        &:not(:first-child) {
            margin-left: 2.2em;
        }

        &>a {
            font-size: clamp(1.2rem, 1.5vw, 1.6rem);
            font-feature-settings: "palt" 1;
            font-weight: bold;
            padding: 0 0.5em;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all;
            letter-spacing: 0;

            &:hover {
                opacity: 0.7;
            }

            span {
                text-align: center;
                display: block;
                padding: 2.1em 0;
            }
        }
    }
}

/* Main menu
------------------------------------------------------------*/
.c-gnav {
    ul {}

    li {
        display: inline-block;

        +li {
            margin-left: 20px;
        }
    }

    a {
        font-size: 1.6rem;
        text-transform: capitalize;
    }
}
