/* Header
------------------------------------------------------------*/
.c-header {
    position: absolute;
    z-index: 9;
    width: 100%;
    overflow: hidden;

    @include tab {
        position: relative;

        .l-container {
            padding: 0;
        }
    }

    .c-header__main {
        margin: 13px auto 0;

        @include tab {
            margin: 0 auto;
        }
    }

    .c-header__top {
        text-align: right;
        margin-bottom: 15px;

        @include tab {
            display: none;
        }
    }

    .c-header__topbtn {
        &::after {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: url("./assets/img/common/arrow.svg") no-repeat center/cover;
            margin-left: 12px;
            position: relative;
            top: 4px;
        }
    }

    .c-header__toptext {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.4;
        letter-spacing: 0;
        color: #fefefe;
        vertical-align: text-top;
    }

    .c-header__content {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 0 0 0 21px;
        margin: 12px auto 0;

        @include tab {
            margin: 0 auto;
        }

        @include sp {
            padding: 0 0 0 8px;
        }

        &.is-open {
            position: fixed;
            z-index: 100;
            left: 20px;
            right: 20px;
        }
    }

    .c-header__logo {
        padding: 1% 0;
        width: 26%;

        @include sp {
            max-width: 165px;
            width: 55%;
        }
    }

    .c-header__nav {
        width: 70%;
        margin-left: auto;

        @include tab {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }

    .c-header__list {
        height: 100%;
        display: flex;
        justify-content: flex-end;

        @include tab {
            width: 50%;
        }
    }

    .c-header__item {
        margin-left: 0.7em;

        &:last-child {
            width: 21.5%;
            margin-left: 2em;
            background-color: $brand-color;

            .c-header__navlink {
                color: #fff;
            }

            @include tab {
                width: 100%;
                max-width: 70px;
                margin-left: 0;
            }

            .c-header__navtext {
                @include tab {
                    padding: 15px 5px;

                    &::before {
                        content: "\f0e0";
                        display: block;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 400;
                        font-size: 3rem;
                        margin: 0 auto -3px;
                    }
                }

                @include sp {
                    padding: 8px 5px 14px;
                }
            }
        }

        &:not(:last-child) {
            &:hover {
                background-color: $brand-color;

                .c-header__navlink {
                    opacity: 1;
                    color: #fff;
                }
            }

            @include tab {
                display: none;
            }
        }
    }

    .c-header__navlink {
        font-size: clamp(1.4rem, 1.2vw, 1.6rem);
        font-feature-settings: "palt" 1;
        font-weight: bold;
        line-height: 1.25;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        letter-spacing: 0;

        @include tab {
            font-size: 1rem;
        }
    }

    .c-header__navtext {
        text-align: center;
        display: block;
        padding: 2.2em 1.25em 2.25em;
    }
}

//Menu mobile
.c-menu {
    display: none;

    @include tab {
        display: block;
        width: 50%;
        background-color: #000;
        color: #fff;
        padding: 15px 10px;
        text-align: center;
        max-width: 70px;

        @include sp {
            padding: 14px 5px 10px;
        }
    }

    .c-menu__line {
        display: block;
        margin: 0 auto 9px;
        background-color: #fff;
        height: 2px;
        max-width: 30px;
        width: 100%;
        transition: 0.3s all;

        &:nth-child(3) {
            margin-bottom: 6px;
        }
    }

    .c-menu__text {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 1.25;

        @include sp {
            font-size: 1rem;
        }
    }
}

.c-close {
    background-color: $brand-color;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-left: auto;
    position: relative;
    top: 13px;
    right: 13px;

    .c-close__line {
        background-color: #fff;
        width: 30px;
        height: 2px;
        display: block;
        margin: 0 auto;

        &:nth-child(1) {
            transform: translateY(12px) rotate(-45deg);
        }

        &:nth-child(2) {
            transform: translateY(10px) rotate(45deg);
        }
    }     

    .c-close__text {
        font-weight: 700;
        line-height: 1.25;
        font-size: 1rem;
        letter-spacing: 0;
        color: #fff;
        margin-top: 27px;
    } 
}

.c-nav {
    display: none;
    @include tab {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 99;
        background-color: $brand-color;
        color: #fff;
        width: 100%;
        height: 100vh;
        padding-bottom: 100px;
        transition: 0.3s all;
    }

    &.is-open {
        left: 0;
        overflow-y: auto;
    }

    .c-nav__list {
        margin-top: 10px;
        padding: 0 13px 18px;
    }

    .c-nav__item {
        display: block;
    }

    .c-nav__link {
        font-weight: 700;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.4;
        padding: 10px 0;
        display: block;
    }

    .c-nav__close {
        padding: 11px 0;

        &::before {
            content: "\f00d";
            display: inline-block;
            font-weight: 600;
            font-family: "Font Awesome 5 Free";
            font-size: 1.8rem;
            line-height: 1.4;
            letter-spacing: 0;
            margin-right: 11px;
        }
    }

    .c-nav__group {
        padding: 19px 0 25px;
        border-top: 1px solid #dbeeec;
        border-bottom: 1px solid #dbeeec;
    }

    .c-nav__info {
        text-align: center;
        max-width: 290px;
        margin: 0 auto;        
    }

    .c-nav__tel {
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .c-nav__telnumber {
        font-weight: 700;
        font-size: 3rem;
        line-height: 1;
        letter-spacing: 0;
    }

    .c-nav__time {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0;
        color: $brand-color;
        background-color: #fff;
        padding: 0 27px;
    }

    .c-nav__btn {
        display: block;
        border: 1px solid #fff;
        max-width: 268px;
        margin: 25px auto 17px;
        padding: 4px 10px 2px;
        text-align: center;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0;
    }
}
