<div class="c-pagetop js-pagetop">
</div>
<footer class="c-footer">
  <div class="c-footer__main">
    <div class="l-container l-container--w1160">
      <div class="c-footer__contents">
        <div class="c-footer__col">
          <a class="c-footer__logo"><img src="./assets/img/common/f_logo.png" alt="Ehime Keizai Report Inc"></a>
          <div class="c-footer__info">
            <p class="c-footer__text u-bold">【運営】株式会社愛媛経済レポート</p>
            <p class="c-footer__text">〒790-0011　愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>
          </div>
        </div>
        <div class="c-footer__col">
          <p class="c-footer__textfs13 ">
            掲載企業に関するご質問や資料請求などお気軽にご相談ください。
          </p>
          <p class="c-footer__tel"><span>TEL. </span><a href="tel:0899471411" class="c-footer__telnumber is-call">089-947-1411</a></p>
          <p class="c-footer__time"><span>受付時間</span><span class="c-footer__timetxt">9:00〜17:00（平日のみ）</span></p>
        </div>
        <div class="c-footer__col">
          <a href="#" class="c-footer__btn"><span>お問い合わせはこちら</span></a>
          <a href="#" class="c-footer__btn"><span>掲載・取材依頼の企業様へ</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-footer__bottom"><div class="c-footer__inner"><p class="c-footer__copyright">©2018 Ehime Keizai Report Inc,</p></div></div>
</footer>