<header class="c-header">
  <div class="l-container l-container--w1160">
    <div class="c-header__main">
      <div class="c-header__top"><a href="#" class="c-header__topbtn"><span class="c-header__toptext">掲載・取材依頼の企業様へ</span></a></div>
      <div class="c-header__content">
        <div class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="/assets/img/common/logo.png"
              alt="Ehime Shigoto Zukan"></a></div>
        <nav class="c-header__nav">
          <ul class="c-header__list">
            <% if (typeof linklists !='undefined' ) { %>
              <% linklists.main && linklists.main.forEach(link=> { %>
                <li class="c-header__item">
                  <a class="c-header__navlink<% if (link.current || link.active) { %> is-active<% } %>" href="<%= link.url %>"><span class="c-header__navtext">
                          <%= link.title %>
                        </span></a>
                </li>
                <% }) %>
                  <% } %>
          </ul>
          <div class="c-menu">
            <span class="c-menu__line"></span>
            <span class="c-menu__line"></span>
            <span class="c-menu__line"></span>
            <p class="c-menu__text">メニュー</p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<main>

  <%- include('_partials/breadcrumb'); -%>