<!-- start pagination -->
<div class="c-pagi">
    <div class="l-container l-container--w1160">
        <ul class="c-pagi__list">
            <li class="c-pagi__item c-pagi__prev"><a href="#" class="c-pagi__text">PREV</a></li>
            <li class="c-pagi__item"><a href="#" class="c-pagi__text">1</a></li>
            <li class="c-pagi__item"><a href="#" class="c-pagi__text">2</a></li>
            <li class="c-pagi__item is-active"><span class="c-pagi__text">3</span></li>
            <li class="c-pagi__item"><a href="#" class="c-pagi__text">4</a></li>
            <li class="c-pagi__item c-pagi__next"><a href="#" class="c-pagi__text">NEXT</a></li>
        </ul>
    </div>
</div>
<!-- end pagination -->