<!-- start content news -->
<section class="c-pnews">
    <div class="l-container l-container--w780">
        <div class="c-pnews__top">
            <div class="c-pnews__date">2019.03.08</div>
            <h2 class="c-pnews__title">2020年「新卒会社説明会」日程について</h2>
        </div>
        <div class="c-pnews__content">
            <p class="c-pnews__text"><span class="u-blue u-textedit">アート不動産、ありがとうサービス、三福グループ、フジ、やまと印刷</span>の2020年「新卒会社説明会」の日程を更新しました。</p>
            <p class="c-pnews__text">メニューバーのインタビュー項目から「会社説明会2020」をクリックすると各社の日程記事が一覧で確認できます。また、各企業の関連記事からも確認できます。</p>
            <p class="c-pnews__text">その他の企業につきましても順次更新していきますので、ぜひご確認ください。</p>
        </div>        
        <div class="c-post__btnback">
            <a href="../news.html" class="c-back"><span>ニュース一覧に戻る</span></a>
        </div>
    </div>
</section>
<!-- end content news -->